header, body {
    font-family: 'Kdam Thmor Pro', sans-serif;;
    color: #fcfcfc
}

header {
	background: #2abdbd;
    width: auto;
	padding: 20px;
}

.header-box {
	margin: 0;
    padding: 1em;
    position: relative;
}

#logo {
    height: 150px;
    width: 150px;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.desc {
    font-weight: bold;
	font-size: 30px;
    text-decoration: none;
    color:#fcfcfc
}